<main>
  <% if @user.errors.any?%>
    <% @user.errors.full_messages.each do |message| %>
      <div id="warning"><%= message %></div>
    <% end %>
  <% end %>

  <% if flash[:danger] %>
    <%=  flash[:danger] %>
  <% end %>

  <center>
    <h1 class="header">Inscription</h1>
    <div id="div_connect">
      <%= form_for @user, html: {id:'form_user'} do |f| %>
        <div>
          <%= f.text_field :username, placeholder: 'Pseudonyme' %>
        </div>
        <div>
          <%= f.email_field :email, placeholder: 'Email'%>
        </div>
        <div><input class="button blue" type="submit" value="M'identifier"></div>
      <% end %>
    </div>
  </center>


  <% if flash[:success] %>
    <%= flash[:success] %>
  <% end %>	
</main>
