<!DOCTYPE html>
<html>
  <head>
  <title><%= Rails.application.config.site[:name] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1><%= Rails.application.config.site[:name] %>  </h1>
        <a href="https://gnu.org">> GNU</a>
        <a href="https://lineageos.org">> Lineage OS</a>
        <a href="https://gnous.eu">> GNOUSEU</a>
    </header>
    <%= yield %>
    <footer>
			<p>Le <a href="https://github.com/mrvxo/fsf-nsi.github.io">code source</a> de ce site est disponible sur GitHub </p>
      <p>LICENSE GNU GPL V2</p>
		</footer>

  </body>
</html>
